* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

nav {
  background-color: white;
}

.navbar-item {
  text-decoration: none;
  color: black;
  padding: 6px 15px;
  border-radius: 50px;
  margin: 0 10px;
  font-weight: 600;
}

.navbar-item:hover,
.navbar-item.active,
.css-dropdown-item:hover,
.css-dropdown-item.active {
  background-color: black !important;
  color: #FFFFF0 !important;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar-toggler {
  border: none;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.vl-navba-brand {
  width: 100px;
}

.footer {
  text-align: center;
}