a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe6e6;

  padding: 0 30px;
}

.logo {
  color: #ffa2a2;
}

.nav-right {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.nav-right-container {
  border: 1px solid #ffc3c3;
  border-radius: 13%;
  padding: 10px;
  background-color: #ffc3c3;
}
